data_temp/
__pycache__/
data_in/
data_out/atlite_ts_pv.csv
data_out/atlite_ts_wind.csv
data_out/pv_availabilites.csv
data_out/pv_potentials.csv
data_out/wind_availabilites.csv
data_out/wind_potentials.csv
World_EEZ_v11_20191118/
